<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    RawgaPI | Inicio
  </title>
  <!-- Iconos -->
  <link rel="stylesheet" href="/lib/icomoon/icomoon.css">
  <link rel="stylesheet" href="/lib/faws/style.css">

  <!-- Roboto -->
  <link rel="stylesheet" href="/lib/roboto/roboto.css">

  <!-- Materializecss -->
  <link rel="stylesheet" href="/lib/materialize/css/materialize.min.css">

  <!-- Main -->
  <link rel="stylesheet" href="/css/main.css">
</head>

<body>

  <div class="wikiapi-container">
    <div class="pos-center-page">
      <div class="pos-pe">
        <div class="container">
          <div class="form-search">
            <h4 class="title-search">Search | RawgaPI
            </h4>
            <div class="input-elm">
              <input type="text" id="text-search" placeholder="Search (1/10)" onkeyup="setSearch(event)" spellcheck="false">
              <div class="btn-search" onclick="setSearch(event)">
                <div class="icono-search icon-search"></div>
                <div class="preloader-search hide">
                  <div class="preloader-wrapper small active">
                    <div class="spinner-layer spinner-red-only">
                      <div class="circle-clipper left">
                        <div class="circle"></div>
                      </div>
                      <div class="gap-patch">
                        <div class="circle"></div>
                      </div>
                      <div class="circle-clipper right">
                        <div class="circle"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!-- results -->
      <div class="container">
        <div class="col-page page-art-show no-show">
          <div class="col-container" id="art-all">
            <% for( let a=0; a < 0; a++ ) { %>
            <div class="elm-col">
              <div class="art-result">
                <div class="banner-art">
                  <div class="icono-rating tooltipped" data-position="bottom" data-tooltip="Excelente">
                    <img src="/imagen/emojis/exceptional.png" alt="">
                  </div>
                </div>
                <div class="info-art">
                  <!-- <div class="id-page"><i class="icon-find_in_page"></i> 645632</div> -->
                  <div class="date-name">
                    <div class="title-page">
                      Far Cry 5
                    </div>
                    <div class="date-art">
                      Feb 10, 2023
                    </div>
                  </div>
                  <div class="sprt-art">
                    <div class="title-elm">Plataformas:</div>
                    <div class="platforms">

                      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAqklEQVR4nNWTMQrCUBBExzNoJdjYWAo2Wlt4AnMRj2DhUURF8/fnGGLrNcTO8kk+xJiIhqAoDkyzzDxY2JW+rpimjKGM9vNQQktbuvKMZcxlLOXYy3GSQbAnygs7+jJWMg4yziHg2ARnhbILAE/0EPg7wOhWyIuz4PI8c9r5HMCYvreC/RyQMJDDy3GU41IfcC9oyNGR0VPMRI6FjHXhSl8CqpT+SeUz1dAVxB6T0i2fVcwAAAAASUVORK5CYII=">
                      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAACAklEQVR4nLWSz2vTYBjHdxfn2YMHPdmbB496EoowDw06ZTgd4nR4dpt24mVzelamzIFRJsI2i12rM25CO3GrSqfQpsmbpolJuiW2Sdz+AvPI80izjgW86AtfeHi/3+fD8/7o6Pgfq2o1DlXr3qBS9ydRVJtbB//aeGft8f7B3Jh8b3UieCkugbLhkebERbi7OhEM5cYkzEQ26/rmviXlq5JcHoeuNAdd6QT0LlwmYY176GFGVf3OXQDFcl9U131QN37CvJQHLnsOTqUTJKwz0jJ5mGF1d3rnmQ0/xiw3QLNmb8JHvQLd2fMh4HS2Bz5oZfIIYLmBYniHQ4BsNZNK3SNTWv8BfW8HaGyEoLDuEwbIwwxmZat5YxtgunwLMLryAE6+SsBF4SoUDAaF7wwuCFdob3TlfjvgSQhgpvsMNwX2DY6nODjz+hJ8MWqgOVukoqnD2Tf9cCzFwQJb+wMwXT4ESEZjhFkuxDM34ehsD+RVkc7brpxagiMz3RDPjOAdgGw0kyFANJyYIJeDPTwHj4qLNGbrRVo3jxr/lALMYBZ7drzEUP5pIZ69TXQcMUronZi/BddzfGHXP7j27uGBqeL7mmw2KRgl9DCD2cjf+Fn1O0XNfl7RnUA2GtRAMhpQ0Z1fZc2eZszbG9ncvsSqEytp9nCpZvMkzR4uK/b2x/mX6zcSdPnZ+iFecwAAAABJRU5ErkJggg==">
                      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAABrklEQVR4nGNgoAX4z8DAdFZSw3gVAwMzWQbcUlFhPy+p8f+chPr785Iaq86Lq4Vd0dJiI9mA8xD88byE+ptzkhr3z0moeZJugIT6nPPiGtkQF2n8uCCupkiSAeckNWael1JPRPDV80k1YAaKARIadRQZcEFKMxyvZv7++QJCWTuSYBrOSmrOvCipaXtOUuPkeQn15fvl5Tkwdc2cySo+ba6P2LQ5K0WnzfkuNXnWe5gBB+WNFzEXnPBmLjjRzFxwYgVzwfFVzPknJjHnnwxlqL/CxvBuH0PWrq0qZwIXFp2UnDHznNi0OfUm9a06MAPavMJ+CE9eeIG7Yet25oLjbcwFx3yZ8o9vYS448Z8p/8RZhjf7GI6+3cfw/80+hkNv9zKEvdjN2Fm4MHIXzIAZdt5XRWbMsROfMktbdPrcVrGp8y4IdC8/zl6x9whT/ok4hv//GRhf72MwfrOHoeDNPob2t3sZWt5sYcqFB6KtymG92d07xabP/S82fc5HsWlz54tPm+fEUF/PhDMg/zMwMF4xVSq/aiP/8HaC2Lc3exk2d692CZPpXcVJMArpDgDUTuPcr/7liQAAAABJRU5ErkJggg==">
                      <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAACXBIWXMAAAsTAAALEwEAmpwYAAAA3ElEQVR4nOVSSw4BQRBtEhcQJ0Bm4TPdkzmBK4hruILXWErsnULiBKxEYo+pGhErXGKkEP/JiJVEJS+pz3vVVZVW6mfMnw8yKlKpRGKE9In7bGbd0R7ZZpJeOMJ9WzSMvr9ETnw3hKOpXROIL7nSFlnNthfbvbpCXpMda8LGsI3ucclN/KBbeCt2GRVNCJ6FLyC70tQpP4pDOJpxSBTfmuw9QvF6VUN2dhqTwbJjnFBqwrn4U9EqE6Bx29MuDKMV/zpaZ845dhl1ufzo49FfMVSGsPu6AWGX9G/+wY4IFwxLo5QpcAAAAABJRU5ErkJggg==">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% } %>
          </div>
          <div class="pagination-rawg">
            <div class="left-page modify-page page-click" data-type="back">
              <i class="icon-keyboard_arrow_left"></i>
            </div>
            <div class="center-page modify-page">
              <span class="select-page page-active">0</span>
              <span class="divide-page">/</span>
              <span class="total-page page-total">0</span>
            </div>
            <div class="right-page modify-page page-click" data-type="next">
              <i class="icon-keyboard_arrow_right"></i>
            </div>
          </div>
        </div>
        <!-- <img id="img-pre"> -->
      </div>
    </div>
  </div>

  <div id="thekey" class="modal modal-edit">
    <div class="modal-content">
      <h4>API Key</h4>
      <h5>¡Gracias por usar nuestra aplicación RawgaPI!</h5>
      <p>Para aprovechar al máximo todas las funciones y evitar limitaciones de la API, te recomendamos
        encarecidamente que crees tu propia clave API en Rawg.io. Obtener tu clave API personal te permitirá
        disfrutar de una experiencia sin restricciones y acceder a un mundo de información sobre juegos de
        manera más completa. Sigue estos sencillos pasos para obtener tu clave API personalizada y desbloquear
        todo el potencial de RawgaPI.</p>

      <h5>Como obtener una API en <a href="#">Rawg.io</a></h5>
      <div class="video-tuto z-depth-1">
        <div class="play-video-contain">
          <div class="play-video icon-play_arrow"></div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat no-show-api">No volver a ver</a>
    </div>
  </div>

  <!-- jquery -->
  <script src="/lib/jQuery/jquery.module.js"></script>
  <!-- materialize -->
  <script src="/lib/materialize/js/materialize.min.js"></script>
  <script src="/lib/materialize/js/init.js"></script>

  <!-- pagination -->
  <script src="/lib/paginations/pagination.min.js"></script>

  <!-- saved -->
  <script src="/lib/js/saved.js"></script>

  <!-- util -->
  <script src="/lib/js/codeutilkit.js"></script>

  <!-- rawg js -->
  <script src="/js/rawg_.js"></script>
  <script src="/js/rawg.js"></script>

</body>

</html>